.portada{
  background-image: url("../imagenes/principal3.jpg");
  height: 780px;
  width: 100%;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
  
}

.navbar-trans{
   background-color: transparent !important;
   
}

.efectoMenu{
    transition: all .4s;
    text-decoration: none;

}
/* .efectoMenu:hover{
    background: #040D16;

} */

#navbarNav a{

  display: block;
  float: left;
  color: white;
  width: 100%;
  padding: 10px;
  line-height: 20px;
  text-decoration: none;
}

li.efectoMenu{
    border:none;
    position: relative;
  }

li.efectoMenu:hover{
    border: none;
  }

.efectoMenu::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 3px;
    left: 50%;
    bottom:0;
    background-color: #05BAC9;
    transition: all ease-in-out .4s;
  }

.efectoMenu:hover::after{
    width: 100%;
    left: 0;
  }

  .font-titulo{
    font-family:'Open Sans', sans-serif;
    font-size: 280%;
    font-weight: bold;
    color: #05BAC9;
  }
  
  .font-tituloConoce{
    font-family:''Open Sans', sans-serif';
    font-size: 280%;
    font-weight: normal;
  }

  .imgBienvenida{
    width: 30%;
    position: absolute;
    left: 580px;
    top:130px;
    z-index: 1;
   
  }
  
  .cajaBienvenida{
    position: relative;

  }

.contBienvenido{
  color: white;
  text-align: center;
  padding-top: 260px;

}

.contProfesionales{
  color: white;
  text-align: center;
  padding-top: 0px;
}

.lineaContenido{
  display: inline-block;
  position:relative;
  
}

.lineaContenido::after,.lineaContenido::before{
  content: '';
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #05BAC9;
  top: 0.7em;
}

.lineaContenido::before{
  left: -40px;
}

.lineaContenido::after{
  right: -40px;

}

.styleButton{
  text-align: center;
  padding-top: 20px;
}

.fondocontenedores{
  background-color: #F4F7F9;
}
.titlePrincipales{
  text-align: center;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #05BAC9;
}

.imgAcerca{
  border-radius: 20px;
}
.paddingImgAcerca{

  padding-top: 50px;
}

.textoAcerca{
  text-align: justify;
}

.paddingTexto{
  padding-top: 130px;

}

.titleMisionVision{
    padding-top: 40px;
    text-align: center;
}

.subtituloServicios{
    text-align: center;
    padding-top: 30px;
}

.paddingIcono{
    text-align: center;
    padding-top: 50px;
}

.tamañoIcono{
  font-size: 40px;
}

.tamañoIcono:hover{
  color: #05BAC9;
}

ul{
  list-style: none;
}

.ul-pal{ 
  position: absolute;
  margin-left: -20px;
  margin-top: 8px;
  font-size: 14px;
  color: #3EC1D5;
  text-align: center;
  
}



/* INICIO DE MEDIASQUERYS */

@media screen and (max-width: 768px) {
    #logo{ 
      display: none;

    }
}


@media screen and (max-width: 576px) {
 
  .contBienvenido{
    color: white;
    text-align: center;
    padding-top: 240px;
  
  }


  .font-titulo{
    font-family:'Open Sans', sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #05BAC9;
  }

  .font-tituloConoce{
    font-family:''Open Sans', sans-serif';
    font-size: 150%;
    font-weight: normal;
  }

  .contProfesionales{
    color: white;
    text-align: center;
    padding-top: 0px;
    font-size:80%;
  }

}



